*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.login-container {
    width: 400px;  
    height: 100vh; 
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.login-btn {
    background:#FF5786;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

p {
    margin-top: 10px;
}

a {
    color: pink;
    text-decoration: none;
} 
label {
    align-self: flex-start; /* Align labels to the left */
    margin-left: 10px;
    font-weight: bold;
}


 